<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hungry 친구 &#8482;</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- CSS
        ================================================ -->
      <!-- Owl Carousel -->
    <link rel="stylesheet" href="@routes.Assets.versioned("css/owl.carousel.css")">
      <!-- bootstrap.min css -->
    <link rel="stylesheet" href="@routes.Assets.versioned("css/bootstrap.min.css")">
      <!-- Font-awesome.min css -->
    <link rel="stylesheet" href="@routes.Assets.versioned("css/font-awesome.min.css")">
      <!-- Main Stylesheet -->
    <link rel="stylesheet" href="@routes.Assets.versioned("css/animate.min.css")">

    <link rel="stylesheet" href="@routes.Assets.versioned("css/main.css")">
      <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="@routes.Assets.versioned("css/responsive.css")">
      <!-- Js -->
    <script src="@routes.Assets.versioned("js/vendor/modernizr-2.6.2.min.js")"></script>
      <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="@routes.Assets.versioned("js/vendor/jquery-1.10.2.min.js")"><\/script>')</script>
    <script src="@routes.Assets.versioned("js/jquery.nav.js")"></script>
    <script src="@routes.Assets.versioned("js/jquery.sticky.js")"></script>
    <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.versioned("js/plugins.js")"></script>
    <script src="@routes.Assets.versioned("js/wow.min.js")"></script>
    <script src="@routes.Assets.versioned("js/main.js")"></script>
  </head>
  <body>
      <!--
	header-img start 
	============================== -->
    <section id="hero-area">
      <img class="img-responsive" src="@routes.Assets.versioned("images/sg_flyer.jpg")" alt="">
    </section>
      <!--
    Header start 
	============================== -->
    <nav id="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.HomeController.index()">
                      <img src="@routes.Assets.versioned("images/Title_1.png")" alt="Logo">
                    </a>

                  </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right" id="top-nav">
                      <li><a href="#hero-area">Home</a></li>
                      <!--<li><a href="#about-us">about us</a></li>
                      <li><a href="#blog">Features</a></li>
                      <li><a href="#price">menu</a></li>
                      <<li><a href="#contact-us">contacts</a></li>-->
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>
            </div>
          </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
      </div><!-- .container close -->
    </nav><!-- header close -->
   
    
    <!--blog features start here
    ============================ -->
    <section id="cuisine">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h1 class="heading">Latest <span>From</span> the <span>Features</span></h1>
              <ul>
                <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                  <div class="cuisine-img">
                    <a href="@routes.CuisineController.index()"><img src="@routes.Assets.versioned("images/cuisine/chinese_img.jpg")" alt="cuisine-img" height="220" width="293"></a>
                  </div>
                  <div class="content-right">
                    <h3>Chinese Cuisine</h3>
                    <p>Chinese food is good</p>
                  </div>
                </li>
                <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="400ms">
                  <div class="cuisine-img">
                    <img src="@routes.Assets.versioned("images/cuisine/malay_img.jpg")" alt="cuisine-img" height="220" width="293">
                  </div>
                  <div class="content-right">
                    <h3>Malay Cuisine</h3>
                    <p>Malay food.</p>
                  </div>
                </li>
                <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="500ms">
                  <div class="content-left">
                    <h3>Indian Cuisine</h3>
                    <p>Indian food </p>
                  </div>
                  <div class="cuisine-img-2">
                    <img src="@routes.Assets.versioned("images/cuisine/indian_img.jpg")" alt="cuisine-img" height="220" width="293">
                  </div>
                </li>
                <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="600ms">
                  <div class="content-left">
                    <h3>Western Cuisine</h3>
                    <p>Western food</p>
                  </div>
                  <div class="cuisine-img-2">
                    <img src="@routes.Assets.versioned("images/cuisine/western_img.jpg")" alt="cuisine-img" height="220" width="293">
                  </div>
                </li>
                <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="700ms">
                  <div class="cuisine-img">
                    <img src="@routes.Assets.versioned("images/cuisine/european_img.jpg")" alt="cuisine-img" height="220" width="293">
                  </div>
                  <div class="content-right">
                    <h3>European Cuisine</h3>
                    <p>European Food</p>
                  </div>
                </li>
                <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="800ms">
                  <div class="cuisine-img">
                    <img src="@routes.Assets.versioned("images/cuisine/japan_img.jpg")" alt="cuisine-img" height="220" width="293">
                  </div>
                  <div class="content-right">
                    <h3>Japanese Cuisine</h3>
                    <p>Japanese Cuisine</p>
                  </div>
                </li>
                <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="500ms">
                  <div class="content-left">
                    <h3>Korean Cuisine</h3>
                    <p>Korean food </p>
                  </div>
                  <div class="cuisine-img-2">
                    <img src="@routes.Assets.versioned("images/cuisine/korean_img.jpg")" alt="cuisine-img" height="220" width="293">
                  </div>
                </li>
                <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="600ms">
                  <div class="content-left">
                    <h3>Western Cuisine</h3>
                    <p>Western food</p>
                  </div>
                  <div class="cuisine-img-2">
                    <img src="@routes.Assets.versioned("images/cuisine/western_img.jpg")" alt="cuisine-img" height="220" width="293">
                  </div>
                </li>
              </ul>
              <!--<a class="btn btn-default btn-more-info wow bounceIn" data-wow-duration="500ms" data-wow-delay="1200ms" href="#" role="button">More Info</a>-->
            </div>
          </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
      </div><!-- .containe close -->
    </section><!-- #blog close -->

 <!--
    footer  start
    ============================= -->
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="block wow fadeInLeft"  data-wow-delay="200ms">
              <h3>CONTACT <span>INFO</span></h3>
              <div class="info">
                <ul>
                  <li>
                    <h4><i class="fa fa-phone"></i>Telephone</h4>
                    <p>+65-62353535</p>

                  </li>
                  <li>
                    <h4><i class="fa fa-map-marker"></i>Address</h4>
                    <p>118 Tiong Bahru Singapore 784233</p>
                  </li>
                  <li>
                    <h4><i class="fa fa-envelope"></i>E mail</h4>
                  </li>
                </ul>
              </div>
            </div>
          </div>
         
            <!-- .col-md-4 close -->
          <div class="col-md-4">
            <div class="block wow fadeInLeft"  data-wow-delay="1100ms">
              <div class="social-media-link">
                <h3>Follow <span>US</span></h3>
                <ul>
                  <li>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-dribbble"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-behance"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
            <!-- .col-md-4 close -->
        </div><!-- .row close -->
      </div><!-- .containe close -->
    </section><!-- #footer close -->
    <!--
    footer-bottom  start
    ============================= -->
    <footer id="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="block">
              <p>Copyright &copy; 2015 - All Rights Reserved.Design and Developed By Hungry 친구</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>